# BASIC

In [59]:
import pandas as pd

In [2]:
# iris=pd.read_csv("Iris.csv.xls")
# iris

In [119]:
iris=pd.read_csv("Iris.csv.xls",index_col="Id")
iris

     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm         Species
Id
1              5.1           3.5            1.4           0.2     Iris-setosa
2              4.9           3.0            1.4           0.2     Iris-setosa
3              4.7           3.2            1.3           0.2     Iris-setosa
4              4.6           3.1            1.5           0.2     Iris-setosa
5              5.0           3.6            1.4           0.2     Iris-setosa
..             ...           ...            ...           ...             ...
146            6.7           3.0            5.2           2.3  Iris-virginica
147            6.3           2.5            5.0           1.9  Iris-virginica
148            6.5           3.0            5.2           2.0  Iris-virginica
149            6.2           3.4            5.4           2.3  Iris-virginica
150            5.9           3.0            5.1           1.8  Iris-virginica

[150 rows x 5 columns]

In [120]:
iris_data=iris.copy()
iris_data

     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm         Species
Id
1              5.1           3.5            1.4           0.2     Iris-setosa
2              4.9           3.0            1.4           0.2     Iris-setosa
3              4.7           3.2            1.3           0.2     Iris-setosa
4              4.6           3.1            1.5           0.2     Iris-setosa
5              5.0           3.6            1.4           0.2     Iris-setosa
..             ...           ...            ...           ...             ...
146            6.7           3.0            5.2           2.3  Iris-virginica
147            6.3           2.5            5.0           1.9  Iris-virginica
148            6.5           3.0            5.2           2.0  Iris-virginica
149            6.2           3.4            5.4           2.3  Iris-virginica
150            5.9           3.0            5.1           1.8  Iris-virginica

[150 rows x 5 columns]

In [62]:
iris.columns

Index(['SepalLengthCm', 'SepalWidthCm', 'PetalLengthCm', 'PetalWidthCm',
       'Species'],
      dtype='object')

### 1. How many samples and features are there in the Iris dataset?

In [63]:
iris.shape

(150, 5)

In [7]:
# 150 samples
#  5 features

### 2. What are the names of the features (columns) in the dataset?

In [64]:
iris.columns

Index(['SepalLengthCm', 'SepalWidthCm', 'PetalLengthCm', 'PetalWidthCm',
       'Species'],
      dtype='object')

In [66]:
# 'SepalLengthCm', 'SepalWidthCm', 'PetalLengthCm', 'PetalWidthCm','Species'

### 3. How many unique species of iris flowers are present in the dataset?

In [67]:
iris["Species"].unique()

array(['Iris-setosa', 'Iris-versicolor', 'Iris-virginica'], dtype=object)

In [68]:
# there are 3types of species of iris flowers:'Iris-setosa','Iris-versicolor','Iris-virginica'

### 4. What is the average sepal length for each species of iris?

In [69]:
species_group=iris.groupby("Species")

In [70]:
species_group["SepalLengthCm"].mean()

Species
Iris-setosa        5.006
Iris-versicolor    5.936
Iris-virginica     6.588
Name: SepalLengthCm, dtype: float64

###### (or)

In [71]:
(species_group["SepalLengthCm"].get_group("Iris-setosa")).mean()

5.006

In [72]:
(species_group["SepalLengthCm"].get_group("Iris-versicolor")).mean()

5.936

In [73]:
(species_group["SepalLengthCm"].get_group("Iris-virginica")).mean()

6.587999999999998

### 5. What is the maximum petal width among all the iris flowers?

In [74]:
iris["PetalWidthCm"].max()

2.5

In [75]:
species_group=iris.groupby("Species")

In [76]:
species_group["PetalWidthCm"].max()

Species
Iris-setosa        0.6
Iris-versicolor    1.8
Iris-virginica     2.5
Name: PetalWidthCm, dtype: float64

###### (or)

In [77]:
(species_group["PetalLengthCm"].get_group("Iris-setosa")).max()

1.9

In [78]:
(species_group["PetalLengthCm"].get_group("Iris-versicolor")).max()

5.1

In [79]:
(species_group["PetalLengthCm"].get_group("Iris-virginica")).max()

6.9

### 6. How many samples belong to each species of iris?

In [80]:
iris["Species"].value_counts()

Iris-setosa        50
Iris-versicolor    50
Iris-virginica     50
Name: Species, dtype: int64

###### (or)

In [81]:
species_group=iris.groupby("Species")

In [82]:
species_group["Species"].get_group("Iris-setosa").value_counts()

Iris-setosa    50
Name: Species, dtype: int64

### 7. How many samples have a petal length greater than 5 cm?

In [83]:
iris.loc[(iris["PetalLengthCm"]>5),["PetalLengthCm"]]

     PetalLengthCm
Id
84             5.1
101            6.0
102            5.1
103            5.9
104            5.6
105            5.8
106            6.6
108            6.3
109            5.8
110            6.1
111            5.1
112            5.3
113            5.5
115            5.1
116            5.3
117            5.5
118            6.7
119            6.9
121            5.7
123            6.7
125            5.7
126            6.0
129            5.6
130            5.8
131            6.1
132            6.4
133            5.6
134            5.1
135            5.6
136            6.1
137            5.6
138            5.5
140            5.4
141            5.6
142            5.1
143            5.1
144            5.9
145            5.7
146            5.2
148            5.2
149            5.4
150            5.1

In [84]:
(iris.loc[(iris["PetalLengthCm"]>5),["PetalLengthCm"]]).shape

(42, 1)

In [85]:
# 42 samples have a petal length greater than 5 cm

###### (or)

In [86]:
greater5=iris[iris["PetalLengthCm"]>5]

In [87]:
greater5["PetalLengthCm"].shape

(42,)

In [88]:
len(greater5["PetalLengthCm"])

42

In [89]:
greater5["PetalLengthCm"].max()

6.9

In [90]:
greater5["PetalLengthCm"].min()

5.1

### 8. How can you filter and display only the samples belonging to a specific species, e.g., Iris setosa?

In [92]:
species_group=iris.groupby("Species")

In [93]:
species_group.get_group("Iris-setosa").value_counts()

SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  Species
4.9            3.1           1.5            0.1           Iris-setosa    3
4.3            3.0           1.1            0.1           Iris-setosa    1
5.0            3.6           1.4            0.2           Iris-setosa    1
5.1            3.4           1.5            0.2           Iris-setosa    1
               3.5           1.4            0.2           Iris-setosa    1
                                            0.3           Iris-setosa    1
               3.7           1.5            0.4           Iris-setosa    1
               3.8           1.5            0.3           Iris-setosa    1
                             1.6            0.2           Iris-setosa    1
                             1.9            0.4           Iris-setosa    1
5.2            3.4           1.4            0.2           Iris-setosa    1
               3.5           1.5            0.2           Iris-setosa    1
               4.1           1.5            0.1           Iris-setosa    1
5.3            3.7           1.5            0.2           Iris-setosa    1
5.4            3.4           1.5            0.4           Iris-setosa    1
                             1.7            0.2           Iris-setosa    1
               3.7           1.5            0.2           Iris-setosa    1
               3.9           1.3            0.4           Iris-setosa    1
                             1.7            0.4           Iris-setosa    1
5.5            3.5           1.3            0.2           Iris-setosa    1
               4.2           1.4            0.2           Iris-setosa    1
5.7            3.8           1.7            0.3           Iris-setosa    1
               4.4           1.5            0.4           Iris-setosa    1
5.1            3.3           1.7            0.5           Iris-setosa    1
5.0            3.5           1.6            0.6           Iris-setosa    1
4.4            2.9           1.4            0.2           Iris-setosa    1
4.8            3.0           1.4            0.1           Iris-setosa    1
4.4            3.0           1.3            0.2           Iris-setosa    1
               3.2           1.3            0.2           Iris-setosa    1
4.5            2.3           1.3            0.3           Iris-setosa    1
4.6            3.1           1.5            0.2           Iris-setosa    1
               3.2           1.4            0.2           Iris-setosa    1
               3.4           1.4            0.3           Iris-setosa    1
               3.6           1.0            0.2           Iris-setosa    1
4.7            3.2           1.3            0.2           Iris-setosa    1
                             1.6            0.2           Iris-setosa    1
4.8            3.0           1.4            0.3           Iris-setosa    1
5.0            3.5           1.3            0.3           Iris-setosa    1
4.8            3.1           1.6            0.2           Iris-setosa    1
               3.4           1.6            0.2           Iris-setosa    1
                             1.9            0.2           Iris-setosa    1
4.9            3.0           1.4            0.2           Iris-setosa    1
5.0            3.0           1.6            0.2           Iris-setosa    1
               3.2           1.2            0.2           Iris-setosa    1
               3.3           1.4            0.2           Iris-setosa    1
               3.4           1.5            0.2           Iris-setosa    1
                             1.6            0.4           Iris-setosa    1
5.8            4.0           1.2            0.2           Iris-setosa    1
dtype: int64

### 9. What is the minimum and maximum sepal length among Iris setosa flowers?

In [96]:
species_group=iris.groupby("Species")

In [97]:
(species_group["SepalLengthCm"].get_group("Iris-setosa")).min()

4.3

In [99]:
(species_group["SepalLengthCm"].get_group("Iris-setosa")).max()

5.8

In [100]:
(species_group["SepalLengthCm"].get_group("Iris-setosa")).value_counts()

5.1    8
5.0    8
5.4    5
4.8    5
4.9    4
4.6    4
4.4    3
5.2    3
4.7    2
5.7    2
5.5    2
4.3    1
5.8    1
4.5    1
5.3    1
Name: SepalLengthCm, dtype: int64

### 10. How many missing values are there in each column of the dataset?

In [101]:
iris.isnull().sum()

SepalLengthCm    0
SepalWidthCm     0
PetalLengthCm    0
PetalWidthCm     0
Species          0
dtype: int64

### 11. Create a new DataFrame containing only the samples with petal length greater than 4.5 cm.

In [102]:
petal_greater_4=iris[iris["PetalLengthCm"]>4.5]
petal_greater_4

     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm          Species
Id
51             7.0           3.2            4.7           1.4  Iris-versicolor
53             6.9           3.1            4.9           1.5  Iris-versicolor
55             6.5           2.8            4.6           1.5  Iris-versicolor
57             6.3           3.3            4.7           1.6  Iris-versicolor
59             6.6           2.9            4.6           1.3  Iris-versicolor
..             ...           ...            ...           ...              ...
146            6.7           3.0            5.2           2.3   Iris-virginica
147            6.3           2.5            5.0           1.9   Iris-virginica
148            6.5           3.0            5.2           2.0   Iris-virginica
149            6.2           3.4            5.4           2.3   Iris-virginica
150            5.9           3.0            5.1           1.8   Iris-virginica

[63 rows x 5 columns]

In [103]:
petal_greater_4["PetalLengthCm"].min()

4.6

In [104]:
iris["PetalLengthCm"].min()

1.0

### 12. Which species of iris has the highest average petal width?

In [105]:
species_group=iris.groupby("Species")

In [106]:
(species_group["PetalWidthCm"].mean()).max()

2.026

### 13. Use the apply function to convert all petal lengths from centimeters to millimeters.

In [107]:
def cm_to_mm(cm):
    return cm*10

In [108]:
iris["PetalLengthCm"].apply(cm_to_mm)

Id
1      14.0
2      14.0
3      13.0
4      15.0
5      14.0
       ...
146    52.0
147    50.0
148    52.0
149    54.0
150    51.0
Name: PetalLengthCm, Length: 150, dtype: float64

###### (or)

In [109]:
iris["PetalLengthCm"].apply(lambda x:x*10)

Id
1      14.0
2      14.0
3      13.0
4      15.0
5      14.0
       ...
146    52.0
147    50.0
148    52.0
149    54.0
150    51.0
Name: PetalLengthCm, Length: 150, dtype: float64

### 14. Replace the species names in the Iris dataset with numeric labels as follows: "Iris setosa" with 0, "Iris versicolor" with 1, and "Iris virginica" with 2.

In [110]:
newlabel=iris.replace({"Iris-setosa":0,"Iris-versicolor":1,"Iris-virginica":2})
newlabel.loc[1:10,["Species"]]

    Species
Id
1         0
2         0
3         0
4         0
5         0
6         0
7         0
8         0
9         0
10        0

In [111]:
newlabel["Species"].value_counts()

0    50
1    50
2    50
Name: Species, dtype: int64




###### (or)

In [121]:
iris=iris.replace({"Iris-setosa":0,"Iris-versicolor":1,"Iris-virginica":2})

In [122]:
iris["Species"].value_counts()

0    50
1    50
2    50
Name: Species, dtype: int64

In [123]:
iris

     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  Species
Id
1              5.1           3.5            1.4           0.2        0
2              4.9           3.0            1.4           0.2        0
3              4.7           3.2            1.3           0.2        0
4              4.6           3.1            1.5           0.2        0
5              5.0           3.6            1.4           0.2        0
..             ...           ...            ...           ...      ...
146            6.7           3.0            5.2           2.3        2
147            6.3           2.5            5.0           1.9        2
148            6.5           3.0            5.2           2.0        2
149            6.2           3.4            5.4           2.3        2
150            5.9           3.0            5.1           1.8        2

[150 rows x 5 columns]

### 15. Create a new column named "species_type" in the Iris dataset that maps the species names to specific types based on their initial letters. Use "S" for species starting with 'Iris setosa', "V" for species starting with 'Iris versicolor', and "G" for species starting with 'Iris virginica'.

In [53]:
Species=iris[["SepalLengthCm","SepalWidthCm","PetalLengthCm","PetalWidthCm"]]

In [54]:
species_type=iris["Species"].map({"Iris-setosa":"S","Iris-versicolor":"V","Iris-virginica":"G"})

In [55]:
iris_type=pd.concat([Species,species_type],axis="columns")
iris_type.rename(columns={"Species":"species_type"})

     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm species_type
Id
1              5.1           3.5            1.4           0.2            S
2              4.9           3.0            1.4           0.2            S
3              4.7           3.2            1.3           0.2            S
4              4.6           3.1            1.5           0.2            S
5              5.0           3.6            1.4           0.2            S
..             ...           ...            ...           ...          ...
146            6.7           3.0            5.2           2.3            G
147            6.3           2.5            5.0           1.9            G
148            6.5           3.0            5.2           2.0            G
149            6.2           3.4            5.4           2.3            G
150            5.9           3.0            5.1           1.8            G

[150 rows x 5 columns]

###### or

In [124]:
iris["species_type"]=iris["Species"].map({"Iris-setosa":"S","Iris-versicolor":"V","Iris-virginica":"G"})
iris

,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species,species_type
Id,,,,,,
1,5.1,3.5,1.4,0.2,0,NaN
2,4.9,3.0,1.4,0.2,0,NaN
3,4.7,3.2,1.3,0.2,0,NaN
4,4.6,3.1,1.5,0.2,0,NaN
5,5.0,3.6,1.4,0.2,0,NaN
...,...,...,...,...,...,...
146,6.7,3.0,5.2,2.3,2,NaN
147,6.3,2.5,5.0,1.9,2,NaN
148,6.5,3.0,5.2,2.0,2,NaN
149,6.2,3.4,5.4,2.3,2,NaN
150,5.9,3.0,5.1,1.8,2,NaN

# Advanced

### 1. Create a new column named "sepal_length_category" that maps the sepal length to categories as follows: "Short" for sepal length less than 5.5 cm, "Medium" for sepal length between 5.5 cm and 6.5 cm (inclusive), and "Long" for sepal length greater than 6.5 cm.

In [57]:
iris[iris.loc[:,"SepalLengthCm"]<5.5 , iris["sepal_length_category"]=="Short"]

KeyError: 'sepal_length_category'

In [ ]:
iris["sepal_length_category1"]=iris["SepalLengthCm"].apply(lambda x:x<5.5 )
iris["sepal_length_category1"]

In [ ]:
iris["SepalLengthCm"].map(iris["sepal_length_category1"])

In [ ]:
iris["sepal_length_category1"]=iris["SepalLengthCm"].apply(lambda x: "Short" if x<5.5 else "Medium")
iris["sepal_length_category1"]

In [ ]:
iris["sepal_length_category2"]=iris["SepalLengthCm"].apply(lambda x: "Medium" if (x=>5.5 and x=<6.5) else "Long" )
iris

In [ ]:
iris["sepal_length_category3"]=iris["SepalLengthCm"].apply(lambda x: "Long" if x>6.5 else "Medium")
iris["sepal_length_category3"]

In [ ]:
sepal_iris=[[iris["sepal_length_category1"],iris["sepal_length_category3"]]]

In [ ]:
iris["sepal_length_category"]=pd.concat(sepal_iris,join="outer")

In [ ]:
iris[iris.loc[:,"SepalLengthCm"]<5.5 , iris["sepal_length_category"]=="Short"]
iris[iris.loc[:,"SepalLengthCm"].between(5.5,6.5), iris["sepal_length_category"]=="Medium"]
iris[iris.loc[:,"SepalLengthCm"]>6.5, iris["sepal_length_category"]=="Long"]
iris

In [ ]:
SepalLengthCm=pd.Dataframe(iris[iris["SepalLengthCm"].between(5.5,6.5)])

In [ ]:

iris.replace(less,"Short")
SepalLengthCm(between,"Medium")
SepalLengthCm=(greater,"Long")

In [ ]:
iris

In [ ]:
sepal_length_category=iris["SepalLengthCm"].map({"iris[iris["SepalLengthCm"]<5.5]":["Short"],
                                                 "iris[iris["SepalLengthCm"].between(5.5,6.5)]":["Medium"],
                                                 "iris[iris["SepalLengthCm"]>6.5]":["Long"]})

In [ ]:
iris["SepalLengthCm"].map({(iris["SepalLengthCm"]<5.5):"Short",(iris["SepalLengthCm"]<=5.5 & iris["SepalLengthCm"]>=6.5):"Medium",(iris["SepalLengthCm"]>6.5):"Long"})

In [ ]:
btwn=iris["SepalLengthCm"]<=5.5 and iris["SepalLengthCm"]>=6.5

### 2. Use the map() function to replace the values in the "species" column with their corresponding full species names, e.g., 0 with "Iris setosa", 1 with "Iris versicolor", and 2 with "Iris virginica".

In [ ]:
iris

In [ ]:
iris_1

In [ ]:
iris_1["Species"].map({0:"Iris-setosa",1:"Iris-versicolor",2:"Iris-virginica"})

In [ ]:
iri

In [ ]:
old_iris=iris[["SepalLengthCm","SepalWidthCm","PetalLengthCm","PetalWidthCm"]]

In [ ]:
species=pd.concat([old_iris,iris_1])
species

### 3. Create a new column named "petal_length_label" that maps the petal length values to "Short", "Medium", or "Long" based on the quartiles of the petal length distribution (e.g., below 25th percentile: "Short", between 25th and 75th percentile: "Medium", above 75th percentile: "Long").

In [ ]:
iris["PetalLengthCm"].unique()

In [ ]:
iris["PetalLengthCm"]<

### 4. Map the sepal width values to "Narrow" if they are less than 3.0 cm, and "Wide" if they are 3.0 cm or greater. Create a new column named "sepal_width_type" to store this information.

In [ ]:
iris["sepal_width_type"]=iris["SepalWidthCm"].apply(lambda x: "Narrow" if x<3.0 else "Wide")
iris

In [ ]:
iris["SepalWidthCm"].map({iris["SepalWidthCm"]<3.0:"Narrow"})

In [ ]:
less=iris["SepalWidthCm"]<3.0

In [ ]:
equal=iris["SepalWidthCm"]>=3.0

In [ ]:
iris["SepalWidthCm"].map({"less":"Narrow"})

### 5. Use the map() function to convert the "species" column to lowercase, so all species names are in lowercase letters.

In [ ]:
iris_lc=iris["Species"].map({"Iris-setosa":"iris-setosa","Iris-versicolor":"iris-versicolor","Iris-virginica":"iris-virginica"})
iris_lc

In [ ]:
iris_lc[S]

### 7. Create a new column named "species_encoded" that maps the species names to unique integer values, where "Iris setosa" is encoded as 0, "Iris versicolor" as 1, and "Iris virginica" as 2.

In [ ]:
iris["species_encoded"]=iris["Species"].map({"Iris-setosa":0,"Iris-versicolor":1,"Iris-virginica":2})
iris

### 8. Map the "sepal_length" values to the corresponding category labels "Very Short", "Short", "Medium", "Long", and "Very Long" based on custom-defined bins.

In [ ]:
pd.cut(iris_data['sepal_length'], bins=custom_bins, labels=['Short', 'Medium', 'Long'])

### 9. Use the map() function to replace the "species_type" values with their corresponding full names, e.g., "S" with "Iris setosa", "V" with "Iris versicolor", and "G" with "Iris virginica".

In [ ]:

iris["species_type"].map({"S":"Iris-setosa","V":"Iris-versicolor","G":"Iris-virginica"})
iris

### 10. Create a new column named "petal_width_type" that maps the petal width values to "Narrow", "Medium", or "Wide" based on custom-defined bins